<style type="text/css">
  * {
     box-sizing: border-box;
}

.question {
    width:  50%;
   height:auto;
   padding:10px;
   margin-bottom: 10px;
}
.title {
   padding:10px;
   font-size: 20px;
   font-weight: bold;
   background-color:#2124;
   border:1px solid black;
   display: flex;
   justify-content: space-between;
}
.body {
   padding:10px;
   border:1px solid black;
}

.links {
    width: 100%;
    margin-right: 15px;
    text-align: right;
}

.links a {
  display: inline-block;
  margin: 5px;
}

.button_to {
  display: inline-block;
  border: none;
}

</style>

<h1>Questions</h1>

<%= link_to "New", new_question_path  %> 
<section id="questions">
  <%= render partial: "question_card", collection: @questions, as: :question %>
</section>

<script type="module">
  import { SubscribeQuestions } from "channels"
  SubscribeQuestions();
</script>